# Ignore configuration directories and files
/config/
saved_models/
logs/
wandb/
save_models/
saved_models_new/
ExplanableAi/
# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Compiled/intermediate files
*.pyo
*.pyd
*.pyc
*.pkl

# Database files
*.db
*.sqlite

# Log and data files
*.log
*.csv
*.tsv
*.json
*.yaml
